form {
  text-align: center;
}

mat-form-field {
  width: 50%;
}

.div-error {
  text-align: center;
  color: red;
  font-weight: bold;
}

.div-success {
  text-align: center;
  color: green;
  font-size: large;
  font-weight: bold;
}
